body {
  text-align: center;
  background-color: steelblue;
}
.box {
  border: 2px black solid;
  padding: 5px;
  border-radius: 10px;
  background-color: slategrey;
}
.choose {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
button {
  width: 300px;
  margin: 10px ;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, .2);
  letter-spacing: 1.5px;
  font-size: 20px;
  font-weight: bold;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  color: #FFFFFF;
  background-color: slategray;
  box-shadow: 2px 2px 5px darkgray;
}